{%- include "./public/page_header.htm" %}
<!--end header -->


<link rel="stylesheet" href="/public/default/css/pay.css" />

<link rel="stylesheet" href="/public/default/css/bootstrap.css" />

<script src="/public/default/js/bootstrap.js"></script>

<style>
    .lcode {
        padding-right: 80px;
    }

    .rphone {
        width: 240px;
    }
</style>

<!-- start banner_x -->
<div class="banner_x center clearfix">
    <a href="/" target="_blank">
        <div class="logo fl"></div>
    </a>
    <div class="wdgwc fl ml40">确认订单 </div>
</div>

<div class="page-main">
    <div class="checkout-box">
        <div class="section section-order">
            <div class="order-info clearfix">
                <div class="fl">
                    <h2 class="title">订单提交成功！去付款咯～</h2>
                    <p class="order-time" id="J_deliverDesc"></p>
                    <p class="order-time">请在<span class="pay-time-tip">47小时59分</span>内完成支付, 超时后将取消订单</p>
                    <p class="post-info post-info-hide" id="J_postInfo">
                        收货信息：{{orderResult.name}} {{orderResult.phone}} &nbsp;&nbsp; {{orderResult.address}} </p>
                </div>
                <div class="fr">
                    <p class="total">
                        应付总额：<span class="money"><em>{{orderResult.all_price}}</em>元</span>
                    </p>
                    <a href="javascript:void(0);" class="show-detail" id="J_showDetail" data-stat-id="db85b2885a2fdc53">订单详情<i
                            class="iconfont"></i></a>
                </div>
            </div>
            <i class="iconfont icon-right">√</i>
            <div class="order-detail">
                <ul>
                    <li class="clearfix">
                        <div class="label">订单号：</div>
                        <div class="content">
                            <span class="order-num">
                                {{orderResult.order_id}} </span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="label">收货信息：</div>
                        <div class="content">
                            {{orderResult.name}} {{orderResult.phone}}&nbsp;&nbsp; {{orderResult.address}} </div>
                    </li>
                    <li class="clearfix">
                        <div class="label">商品名称：</div>
                        <div class="content">
                            {% for item in orderItemResult %}
                            <p>{{item.product_title}}&nbsp;&nbsp;{{item.product_color}}&nbsp;&nbsp;&nbsp;&nbsp;x{{item.product_num}}
                            </p>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="clearfix hide">
                        <div class="label">配送时间：</div>
                        <div class="content">
                            不限送货时间 </div>
                    </li>
                    <li class="clearfix">
                        <div class="label">发票信息：</div>
                        <div class="content">
                            电子发票 个人 </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section section-payment">
            <div class="cash-title" id="J_cashTitle">
                选择以下支付方式付款
            </div>

            <div class="payment-box ">

                <div class="payment-body">
                    <ul class="clearfix payment-list J_paymentList J_linksign-customize">
                        <li id="weChatPay">
                            <img src="//c1.mifile.cn/f/i/16/pay/weixinpay0701.png" alt="微信支付" style="margin-left: 0;">
                        </li>
                        <li class="J_bank" id="alipay"><a target="_blank" href="/alipay/pay?id={{orderResult._id}}">
                                <img src="//s01.mifile.cn/i/banklogo/payOnline_zfb.png?ver2015" alt="支付宝"
                                    style="margin-left: 0;"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="alipayModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">正在支付...</h4>
            </div>
            <div class="modal-body">
                <a href="/alipay/alipayReturn">已经支付成功</a>
                <br>
                <br>
                <br>
                <a href="/buy/confirm?id={{orderResult._id}}">未支付成功</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="weChatPayModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">微信支付</h4>
            </div>
            <div class="modal-body">
                <img class="lcode" src="/weChatPay/pay?id={{orderResult._id}}" />
                <img class="rphone" src="/public/default/image/phone.png" />
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".show-detail").click(function () {
            $(".order-detail").slideToggle();
        });

        $("#alipay").click(function () {
            alert('此网站为测试网站！支付接口已关闭！');
            return;
            $('#alipayModel').modal('show');
        });

        $("#weChatPay").click(function () {
            alert('此网站为测试网站！支付接口已关闭！');
            return;
            $('#weChatPayModel').modal('show');
        });

        setInterval(function () {
            return;
            $.get('/buy/getOrderPayStatus?id={{orderResult._id}}', function (response) {
                console.log(response);
                if (response.success) {
                    location.href = '/user/order';
                }
            });
        }, 5000);
    })
</script>

<!-- footer -->
{%- include "./public/footer.htm" %}

</body>

</html>