{%- include "./public/page_header.htm" %}

<script>
	$(function () {
		$('#addCart').click(function () {
			var goodsId = $('#color_list .active').attr('goods_id'),
				colorId = $('#color_list .active').attr('goods_color');
			location.href = '/addCart?goodsId=' + goodsId + '&colorId=' + colorId;
		});
	});
</script>

<body>
	{%- include "./public/page_aside.htm" %}
	{%- include "./public/page_mNav.htm" %}

	<!-- xiangqing -->
	<div class="jieshao mt20 w">
		<div class="left fl">
			<div class="swiper-container">
				<div class="swiper-wrapper" id="swiper-wrapper">
					{% for item in goodsImages %}
					<div class="swiper-slide">
						<img src="{{item.img_url}}_400x400{{helper.getExtName(item.img_url if item.img_url else '')}}"
							alt="{{oneGoods.title}}">
					</div>
					{% endfor %}
				</div>

				<div class="swiper-pagination"></div>

				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>

			</div>



		</div>
		<div class="right fr">
			<div class="h3 ml20 mt20">{{oneGoods.title}}</div>
			<div class="jianjie mr40 ml20 mt10">{{oneGoods.sub_title}}</div>
			<div class="jiage ml20 mt10">{{oneGoods.shop_price}}元</div>



			{% if relationGoods.length>0 %}
			<div class="ft20 ml20 mt20">选择版本</div>
			<div class="xzbb ml20 mt10 clearfix">
				{% for item in relationGoods %}
				<div class="banben fl {% if oneGoods._id.toString()==item._id.toString() %}active {% endif %}">
					<a href="/pinfo?id={{item._id}}">
						<span>{{item.goods_version}}</span>
						<span>{{item.shop_price}}元</span>
					</a>
				</div>
				{% endfor %}
			</div>
			{% endif %}


			{% if goodsColors.length>0 %}
			<div class="ft20 ml20 mt20 clear">选择颜色</div>
			<div class="xzbb ml20 mt10 clearfix" id="color_list">
				{% for item in goodsColors %}
				<div class="banben fl {% if loop.index==1 %}active {% endif %}" goods_id="{{oneGoods._id}}"
					goods_color="{{item._id}}">
					<a>
						<span class="yuandian" style="background:{{item.color_value}}"></span>
						<span class="yanse">{{item.color_name}}</span>
					</a>
				</div>
				{% endfor %}
			</div>
			{% endif %}

			<div class="xqxq mt20 ml20 clear">
				<div class="top1 mt10">
					<div class="left1 fl">{{oneGoods.title}}</div>
					<div class="right1 fr">{{oneGoods.shop_price}}元</div>
					<div class="clear"></div>
				</div>
				<div class="bot mt20 ft20 ftbc">总计：{{oneGoods.shop_price}}元</div>
			</div>
			<div class="xiadan ml20 mt20">
				<input class="jrgwc" id="addCart" name="addCart" type="button" name="jrgwc" value="加入购物车" />
			</div>
		</div>
		<div class="clear"></div>
	</div>


	<div class="container clearfix">


		<div class="c_left">

			<h2>看了又看</h2>

			<div class="item">

				<a target="_blank" href="#">

					<img
						src="//img10.360buyimg.com/N1/jfs/t24550/324/210570328/559386/cc08975f/5b2910bbNfaceb0b4.jpg" />

					<p class="price recommendLookPrice4183081">￥31.90</p>

					<p>三利 纯棉A类标准简约素雅大浴巾 70×140cm 男女同款 柔软舒适吸水裹身巾 豆绿</p>

				</a>


			</div>
			<div class="item">

				<a target="_blank" href="#">

					<img
						src="//img10.360buyimg.com/N1/jfs/t24550/324/210570328/559386/cc08975f/5b2910bbNfaceb0b4.jpg" />

					<p class="price recommendLookPrice4183081">￥31.90</p>

					<p>三利 纯棉A类标准简约素雅大浴巾 70×140cm 男女同款 柔软舒适吸水裹身巾 豆绿</p>

				</a>


			</div>
			<div class="item">

				<a target="_blank" href="#">

					<img
						src="//img10.360buyimg.com/N1/jfs/t24550/324/210570328/559386/cc08975f/5b2910bbNfaceb0b4.jpg" />

					<p class="price recommendLookPrice4183081">￥31.90</p>

					<p>三利 纯棉A类标准简约素雅大浴巾 70×140cm 男女同款 柔软舒适吸水裹身巾 豆绿</p>

				</a>


			</div>
		</div>


		<div class="c_right">
			<ul class="detail_list clearfix">

				<li class="">详情描述</li>

				<li class="">规格参数</li>

				<li class="">用户评价</li>
			</ul>


			<div class="detail_info">

				<div class="detail_info_item">
					{{oneGoods.goods_content | safe}}
				</div>
				<div class="detail_info_item">
					<ul>
						{% for item in goodsAttr %}
						{% if item.attribute_value %}
						<li class="row clearfix">
							<div class="span5">
								<h2>{{item.attribute_title}}</h2>
							</div>
							<div class="span15">
								{{helper.formartAttr(item.attribute_value) | safe}}
							</div>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>


				<div class="detail_info_item">
					<ul class="comment_list">
						<li>
							<div>
								<img src="/public/favicon.ico" style='width:30px;height:30px;'>
							</div>
							<p>这已经是第六部了，一如既往地好用。美中不足得是，尾插和数据线的链接口，用过一段时间，就会有充电接触不良的问题，希望厂家将来有改进。</p>

							<p class="eval-order-info"> <span class="eval-time">2018-11-18
									14:00:35</span><span>月岩白</span><span>6GB+64GB</span><span></span></p>

						</li>
						<li>
							<div>
								<img src="/public/favicon.ico" style='width:30px;height:30px;'>
							</div>
							<p>这已经是第六部了，一如既往地好用。美中不足得是，尾插和数据线的链接口，用过一段时间，就会有充电接触不良的问题，希望厂家将来有改进。</p>

							<p class="eval-order-info"> <span class="eval-time">2018-11-18
									14:00:35</span><span>月岩白</span><span>6GB+64GB</span><span></span></p>

						</li>
						<li>
							<div>
								<img src="/public/favicon.ico" style='width:30px;height:30px;'>
							</div>
							<p>这已经是第六部了，一如既往地好用。美中不足得是，尾插和数据线的链接口，用过一段时间，就会有充电接触不良的问题，希望厂家将来有改进。</p>

							<p class="eval-order-info"> <span class="eval-time">2018-11-18
									14:00:35</span><span>月岩白</span><span>6GB+64GB</span><span></span></p>

						</li>
						<li>
							<div>
								<img src="/public/favicon.ico" style='width:30px;height:30px;'>
							</div>
							<p>这已经是第六部了，一如既往地好用。美中不足得是，尾插和数据线的链接口，用过一段时间，就会有充电接触不良的问题，希望厂家将来有改进。</p>

							<p class="eval-order-info"> <span class="eval-time">2018-11-18
									14:00:35</span><span>月岩白</span><span>6GB+64GB</span><span></span></p>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	{%- include "./public/footer.htm" %}
</body>

</html>