<%- include ../public/page_header.html %>

<!-- 富文本编辑器 -->
<link href="/public/admin/wysiwyg-editor/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- Include Editor style. -->
<link href="/public/admin/wysiwyg-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="/public/admin/wysiwyg-editor/css/froala_style.min.css" rel="stylesheet" type="text/css" />
<!-- 引入jquery -->
<!-- Include Editor JS files. -->
<script type="text/javascript" src="/public/admin/wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/public/admin/wysiwyg-editor/js/zh_cn.js"></script>

<!-- 批量上传图片插件 -->
<link rel="stylesheet" type="text/css" href="/public/admin/webuploader/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="/public/admin/webuploader/css/diyUpload.css">
<script type="text/javascript" src="/public/admin/webuploader/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/public/admin/webuploader/js/diyUpload.js"></script>


<script>
    $(function () {
        $('#myform').submit(function () {
            var money = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
                num = /^\d+$/,
                params = {
                    title: $('#title').val().trim(),
                    sub_title: $('#sub_title').val().trim(),
                    cate_id: $('#cate_id').val(),
                    goods_version: $('#goods_version').val().trim(),
                    goods_sn: $('#goods_sn').val().trim(),
                    goods_number: $('#goods_number').val().trim(),
                    shop_price: $('#shop_price').val().trim(),
                    market_price: $('#market_price').val().trim(),
                    sort: $('#sort').val().trim(),
                    goods_img: $('#goods_img').val().trim(),
                    goods_content: $('#goods_content').val().trim()
                };

            if (params.title == '') {
                alert('请输入商品标题！');
                return false;
            }
            if (params.sub_title == '') {
                alert('请输入附属标题！');
                return false;
            }
            if (params.cate_id == '0') {
                alert('请选择所属分类！');
                return false;
            }
            if (params.goods_version == '') {
                alert('请输入商品版本！');
                return false;
            }
            if (params.goods_sn == '') {
                alert('请输入SN编号！');
                return false;
            }
            if (params.goods_number == '') {
                alert('请输入库存！');
                return false;
            } else if (!num.test(params.goods_number)) {
                alert('请正确输入库存！');
                return false;
            }
            if (params.shop_price == '') {
                alert('请输入商品价格！');
                return false;
            } else if (!money.test(params.shop_price)) {
                alert('请正确输入商品价格！');
                return false;
            }
            if (params.market_price == '') {
                alert('请输入商品原价！');
                return false;
            } else if (!money.test(params.market_price)) {
                alert('请正确输入商品原价！');
                return false;
            }
            if (params.sort == '') {
                alert('请输入排序！');
                return false;
            } else if (!num.test(params.sort)) {
                alert('请正确输入排序！');
                return false;
            }
            if (params.goods_img == '') {
                alert('请上传商品图片！');
                return false;
            }
            if (params.goods_content == '') {
                alert('请输入详细描述！');
                return false;
            }
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        编辑商品
    </div>
    <div class="panel-body">
        <div class="table-responsive input-form">
            <form action="/admin/goods/doEdit" class="goods_content" method="post" id='myform' autocomplete="off">
                <input type="hidden" name="_csrf" value="<%=csrf%>">
                <input type="hidden" name="id" value="<%=result._id%>">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#general" role="tab" data-toggle="tab">通用信息</a></li>
                    <li role="presentation"><a href="#detail" role="tab" data-toggle="tab">详细描述</a></li>
                    <li role="presentation"><a href="#mix" role="tab" data-toggle="tab">其他信息</a></li>
                    <li role="presentation"><a href="#attribute" role="tab" data-toggle="tab">规格与包装</a></li>
                    <li role="presentation"><a href="#photo" role="tab" data-toggle="tab">商品相册</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                        <ul class="form_input">
                            <li class="line"> <span> 商品标题:</span> <input type="text" id="title" name="title"
                                    class="input" placeholder="请输入商品标题" value="<%=result.title%>" /></li>
                            <li class="line"> <span> 附属标题:</span> <input type="text" id="sub_title" name="sub_title"
                                    class="input" placeholder="请输入附属标题" value="<%=result.sub_title%>" />
                            </li>
                            <li class="line"> <span>商品版本:</span> <input type="text" id="goods_version"
                                    name="goods_version" class="input" placeholder="请输入商品版本"
                                    value="<%=result.goods_version%>" /></li>
                            <li class="line"> <span> SN编号:</span> <input type="text" id="goods_sn" name="goods_sn"
                                    placeholder="请输入SN编号" value="<%=result.goods_sn%>" /></li>
                            <li class="line"> <span> 库存:</span> <input type="number" id="goods_number"
                                    name="goods_number" placeholder="请输入库存" value="<%=result.goods_number%>" /></li>
                            </li>
                            <li class="line"> <span>所属分类:</span>
                                <select name="cate_id" id="cate_id">
                                    <option value="0">----请选择商品所属分类----</option>
                                    <%for(let i=0;i<goodsCate.length;i++){%>
                                    <%if(result.cate_id.toString()==goodsCate[i]._id.toString()){%>
                                    <option value="<%=goodsCate[i]._id%>" selected><%=goodsCate[i].title%></option>
                                    <%}else{%>
                                    <option value="<%=goodsCate[i]._id%>"><%=goodsCate[i].title%></option>
                                    <%}%>
                                        <%for(let j=0;j<goodsCate[i].child.length;j++){%>
                                    <%if(result.cate_id.toString()==goodsCate[i].child[j]._id.toString()){%>
                                    <option value="<%=goodsCate[i].child[j]._id%>" selected>
                                        ————<%=goodsCate[i].child[j].title%>
                                    </option>
                                    <%}else{%>
                                    <option value="<%=goodsCate[i].child[j]._id%>">————<%=goodsCate[i].child[j].title%>
                                    </option>
                                    <%}%>
                                        <%}%>
                                    <%}%>
                                </select>
                            </li>
                            <li class="line"> <span>商品价格:</span> <input type="text" id="shop_price" name="shop_price"
                                    placeholder="请输入商品价格" value="<%=result.shop_price%>" /></li>
                            <li class="line"> <span>商品原价:</span> <input type="text" id="market_price"
                                    name="market_price" placeholder="请输入商品原价" value="<%=result.market_price%>" /></li>
                            <li class="line"> <span>商品状态:</span>　<input type="checkbox" id="status" name="status"
                                    <%=result.status==1?"checked":""%>>
                                <label for="status">选中为生效</label>
                            </li>
                            <li class="line"> <span> 排序:</span> <input type="number" id="sort" name="sort"
                                    placeholder="请输入排序" value="<%=result.sort%>" /></li>
                            <li class="line"> <span>加入推荐:</span>　
                                <input type="checkbox" name="is_best" id="is_best"
                                    <%=result.is_best==1?"checked":""%> /><label for="is_best">精品</label>
                                <input type="checkbox" name="is_hot" id="is_hot" <%=result.is_hot==1?"checked":""%> />
                                <label for="is_hot">热销</label>
                                <input type="checkbox" name="is_new" id="is_new" <%=result.is_new==1?"checked":""%> />
                                <label for="is_new">新品</label>
                            </li>
                            <li class="line">
                                <span> 商品图片:</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img class="pic" src="<%=result.goods_img%>" alt="商品图片">
                                <div id="goodsImgLib" class="photoList"></div>

                                <div id="goodsImgList">
                                    <input type="hidden" id="goods_img" name="goods_img"
                                        value="<%=result.goods_img%>" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="detail">
                        <textarea name="goods_content" id="goods_content"><%=result.goods_content%></textarea>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="mix">
                        <ul class="form_input">
                            <li class="line"> <span>商品颜色:</span>
                                <%for(var i=0;i<goodsColor.length;i++){%>
                                <input type="checkbox" name="goods_color[]" value="<%=goodsColor[i]._id%>"
                                    id="color_<%=goodsColor[i]._id%>"
                                    <%=result.goods_color.indexOf(goodsColor[i]._id)!=-1?"checked":""%> /> <label
                                    for="color_<%=goodsColor[i]._id%>"><%=goodsColor[i].color_name%></label>
                                <%}%>
                             </li>
                             <li class="line"> <span>关联商品:</span>
                                    <input type="text" id="relation_goods" name="relation_goods" class="input" placeholder="请输入关联商品" value="<%=result.relation_goods%>"/>
                                <i>可为空 填写关联商品的id 多个以逗号隔开 格式：23,24,39</i>
                            </li>
                            <li class="line"> <span>关联赠品:</span>
                                <input type="text" id="goods_gift" name="goods_gift" class="input" placeholder="请输入关联赠品"
                                    value="<%=result.goods_gift%>" /> <i>可为空 格式：23-2,39-5 说明：例如23-2
                                    中的23表示商品id,2表示商品数量</i>
                            </li>
                            <li class="line"> <span>关联配件:</span>
                                <input type="text" id="goods_fitting" name="goods_fitting" class="input"
                                    placeholder="请输入关联配件" value="<%=result.goods_fitting%>" /> <i>可为空 格式：23-2,39-5
                                    说明：例如23-2 中的23表示商品id,2表示商品数量</i>
                            </li>
                            <li class="line"> <span>更多属性:</span>
                                <input type="text" id="goods_attr" name="goods_attr" class="input" placeholder="请输入更多属性"
                                    value="<%=result.goods_attrs%>" /> <i> 可为空 格式: 颜色:红色,白色,黄色 | 尺寸:41,42,43</i>
                            </li>
                            <li class="line"> <span>Seo关键词:</span>
                                <input type="text" id="goods_keywords" name="goods_keywords" class="input"
                                    placeholder="请输入Seo关键词" value="<%=result.goods_keywords%>" /> <i>可为空</i>
                            </li>
                            <li class="line"> <span>Seo描述:</span>
                                <textarea name="goods_desc" id="goods_desc" cols="100" rows="4"
                                    placeholder="请输入Seo描述"><%=result.goods_desc%></textarea> <i>可为空</i>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="attribute">
                        <ul class="form_input">
                            <li class="line"> <span>商品类型:　</span>
                                <select name="goods_type_id" id="goods_type_id">
                                    <option value="0" <%=result.goods_type_id.toString()=='0'?'selected':''%>>
                                        --请选择商品类型--</option>
                                    <%for(var i=0;i<goodsType.length;i++){%>
                                    <option value="<%=goodsType[i]._id%>"
                                        <%=result.goods_type_id.toString()==goodsType[i]._id.toString()?'selected':''%>>
                                        <%=goodsType[i].title%></option>
                                    <%}%>
                                </select>
                                <i>可不选 建议选择</i> 
                             </li>
                        </ul>

                        <ul class="form_input" id="goods_type_attribute">
                            <%-goodsAttr%>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="photo">
                        <ul>
                            <li class="line">
                                <ul id="goods_image_list" class="goods_image_list clear">
                                    <%for(var i=0;i<goodsImage.length;i++){%>
                                    <li>
                                        <img class="pic"
                                            src="<%=goodsImage[i].img_url%>_200x200<%=helper.getExtName(goodsImage[i].img_url?goodsImage[i].img_url:'')%>" />

                                        <div class="color_list" align="center">
                                            <select class="color_id" goods_image_id="<%=goodsImage[i]._id%>">
                                                <option value="0"
                                                    <%=goodsImage[i].color_id.toString()=='0'?'selected':''%>>关联颜色
                                                </option>
                                                <%for(var j=0;j<goodsColorRelation.length;j++){%>
                                                <option value="<%=goodsColorRelation[j]._id%>"
                                                    <%=goodsImage[i].color_id.toString()==goodsColorRelation[j]._id.toString()?'selected':''%>>
                                                    <%=goodsColorRelation[j].color_name%></option>
                                                <%}%>
                                            </select>
                                        </div>
                                        <div class="goods_image_delete" align="center" goods_image_id="<%=goodsImage[i]._id%>">
                                        </div>
                                    </li>
                                    <%}%>
                                </ul>
                            </li>
                            <li class=" line">
                                        <div id="photoLib" class="photoLib"></div>

                                        <div id="photoList">
                                        </div>
                                    </li>
                                </ul>
                    </div>

                    <ul>
                        <li>
                            <br />
                            <button type="submit" class="btn btn-primary">提交</button>
                            <button type="button" class="btn btn-default"
                                onclick="javascript:location.href='/admin/goods';">返回</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="display:none;" id='goodsAttrStr'>
    <%-goodsAttr%>
                    </div>

                    <script>
                        //富文本编辑器
                        $(function () {
                            new FroalaEditor('textarea#goods_content', {
                                height: 300,    //给编辑器设置默认的高度
                                language: 'zh_cn',
                                imageUploadURL: '/admin/goods/goodsUploadImage',
                                videoUploadURL: '/admin/goods/goodsUploadVideo',
                                //根据不同的分辨率加载不同的配置
                                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
                                toolbarButtonsMD: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
                                toolbarButtonsSM: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo']
                            });

                            //关联商品类型
                            $('#goods_type_id').change(function () {
                                var cate_id = $(this).val();

                                if (cate_id != '0') {

                                    if (cate_id == '<%=result.goods_type_id.toString()%>') {
                                        $('#goods_type_attribute').html($('#goodsAttrStr').html());
                                    } else {
                                        $.get('/admin/goods/goodsTypeAttribute?cate_id=' + cate_id, function (response) {
                                            var data = response.result;
                                            var str = "";
                                            for (var i = 0; i < data.length; i++) {
                                                if (data[i].attr_type == 1) {
                                                    str += '<li class="line"><span>' + data[i].title + ': 　</span><input type="hidden" name="attr_id_list[]" value="' + data[i]._id + '" />  <input type="text" name="attr_value_list[]" placeholder="请输入' + data[i].title + '" /></li>';
                                                } else if (data[i].attr_type == 2) {
                                                    str += '<li class="line"><span>' + data[i].title + ': 　</span> <input type="hidden" name="attr_id_list[]" value="' + data[i]._id + '">  <textarea cols="50" rows="3" name="attr_value_list[]" placeholder="请输入' + data[i].title + '"></textarea></li>';
                                                } else {
                                                    var arr = data[i].attr_value.split('\n');
                                                    str += '<li class="line"><span>' + data[i].title + ': 　</span><input type="hidden" name="attr_id_list[]" value="' + data[i]._id + '">';
                                                    str += '<select name="attr_value_list[]">';
                                                    for (var j = 0; j < arr.length; j++) {
                                                        str += '<option value="' + arr[j] + '">' + arr[j] + '</option>';
                                                    }
                                                    str += '</select>';
                                                    str += '</li>';
                                                }
                                            }
                                            $('#goods_type_attribute').html(str);
                                        });
                                    }
                                } else {
                                    $('#goods_type_attribute').html('');
                                }
                            });

                            //上传商品图片
                            $('#goodsImgLib').diyUpload({
                                url: '/admin/goods/goodsUploadImg',
                                fileSingleSizeLimit: 5 * 1024 * 1024, // 5 M  
                                fileNumLimit: 1,
                                success: function (response) {
                                    $('#goods_img').val(response.link);
                                },
                                error: function (err) {
                                    console.info(err);
                                }
                            });

                            //批量上传图片
                            $('#photoLib').diyUpload({
                                url: '/admin/goods/goodsUploadPhoto',
                                fileSingleSizeLimit: 5 * 1024 * 1024, // 5 M 
                                success: function (response) {
                                    // console.info( data );
                                    var photoStr = '<input type="hidden" name="goods_image_list[]" value=' + response.link + ' />';

                                    $('#photoList').append(photoStr);
                                },
                                error: function (err) {
                                    console.info(err);
                                }
                            });

                            //商品相册关联颜色
                            $('.color_id').change(function () {
                                var colorId = $(this).val();
                                var id = $(this).attr('goods_image_id');

                                $.post('/admin/goods/changeGoodsImageColor', { _csrf: '<%=csrf%>', id, colorId }, function (data) {
                                    if (!data.success) {
                                        alert(data.message);
                                    }
                                });
                            });

                            //删除商品相册图片
                            $('.goods_image_delete').click(function () {
                                if (confirm('您确定要删除吗？')) {
                                    var _that = this;
                                    var id = $(this).attr('goods_image_id');

                                    $.post('/admin/goods/goodsImageRemove', { _csrf: '<%=csrf%>', id }, function (data) {
                                        if (!data.success) {
                                            alert(data.message);
                                        } else {
                                            $(_that).parent().remove();
                                        }
                                    });
                                }
                            });
                        });
                    </script>

                    </body>

                    </html>