<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="/public/default/css/login.css" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">

    <script src="/public/default/js/jquery-1.10.1.js"></script>
</head>

<body class="register_page">

    <div class="regist">
        <div class="regist_center">

            <div class="logo">
                <img src="/public/default/image/favicon.png" alt="商城">
            </div>
            <div class="regist_top">
                <h2>注册商城账户</h2>
            </div>
            <div class="regist_main center">

                <input class="form_input" type="text" name="phone" id="phone" placeholder="请填写正确的手机号" />


                <div class="yzm">
                    <input type="text" id="identify_code" name="identify_code" placeholder="请输入验证码" />
                    <img src="/verify" id="code" title="看不清？点击刷新"
                        onclick="javascript:this.src='/verify?mt='+Math.random()">
                </div>

                <div class="regist_submit">
                    <button class="submit" id="registerButton">
                        立即注册
                    </button>
                </div>

                <br>
                <br>
                <div class="privacy_box">
                    <div class="msg">
                        <label class="n_checked now select-privacy">
                            <input type="checkbox" checked="true" /> 注册帐号即表示您同意并愿意遵守 <a href="/" class="inspect_link "
                                title="商城" style='color:blue;'> 商城 </a><a
                                href="https://static.account.xiaomi.com/html/agreement/account/cn.html"
                                class="inspect_link " title="用户协议" target="_blank"> 用户协议 </a>和<a
                                href="https://www.mi.com/about/privacy/" class="inspect_link privacy_link"
                                title=" 隐私政策 " target="_blank"> 隐私政策 </a>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>

        $(function () {
            $("#registerButton").click(function (e) {

                var params = {
                    phone: $('#phone').val().trim(),
                    identify_code: $('#identify_code').val().trim()
                };

                var reg = /^[\d]{11}$/;
                if (params.phone === '') {
                    alert('请输入手机号！');
                    return false;
                } else if (!reg.test(params.phone)) {
                    alert('请正确输入手机号！');
                    return false;
                }
                if (params.identify_code === '') {
                    alert('请输入验证码！');
                    return false;
                }

                $.get('/pass/sendCode', params, function (data) {
                    if (data.success == true) {
                        location.href = "/register/registerStep2?sign=" + data.sign + '&identify_code=' + params.identify_code;
                    } else {
                        $('#identify_code').val('');
                        $('#code').attr('src', '/verify?mt=' + Math.random());
                        alert(data.msg);
                    }
                })

            })
        })
    </script>
</body>

</html>