<%- include ../public/page_header.html %>
<script>
    $(function () {
        $('.module_cbo').change(function () {
            var checked = $(this).prop('checked');
            $(this).parent().parent().siblings().find('input').prop('checked', checked);
        });

        $('.action_cbo').change(function () {
            if ($(this).prop('checked')) {
                $(this).parent().parent().prev().find('input').prop('checked', true);
            }
        });
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">

            <%- include ../public/page_aside.html %>

        </div>
        <div class="col-sm-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    角色授权
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/role/doAuth" method="post" id='myform' autocomplete="off">
                            <input type="hidden" name="_csrf" value="<%=csrf%>">
                            <input type="hidden" name="id" value="<%=id%>">
                            <table class="table table-bordered">
                                <%for(let i=0;i<list.length;i++){%>
                                <tr>
                                    <td align="left" style="background: #D8E2FA; padding-right: 10px; width: 150px;">
                                        <label style="cursor: pointer;">
                                            <input type="checkbox" class="module_cbo" name="access_node[]"
                                                value="<%=list[i]._id%>" <%=list[i].checked?"checked":""%> />
                                            <%=list[i].module_name%>
                                        </label>
                                    </td>
                                    <td align="center">
                                        <%for(let j=0;j<list[i].child.length;j++){%>
                                        &nbsp;&nbsp;
                                        <label style="cursor: pointer;">
                                            <input type="checkbox" class="action_cbo" name="access_node[]"
                                                value="<%=list[i].child[j]._id%>"
                                                <%=list[i].child[j].checked?"checked":""%> />
                                            <%=list[i].child[j].action_name%>
                                        </label>
                                        &nbsp;&nbsp;
                                        <%}%>
                                    </td>
                                </tr>
                                <%}%>
                            </table>
                            <div align="center">
                                <button type="submit" class="btn btn-primary"
                                    <%=id.toString()==isuper?"disabled=false":""%>>提交</button>&nbsp;
                                <button type="button" class="btn btn-default"
                                    onclick="javascript:location.href='/admin/role';">返回</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>