<%- include ../public/page_header.html %>
<script>
    $(function () {
        $('#status').change(function () {
            if ($(this).prop('checked')) {
                $('#role_id option[value="<%=rwait%>"]').remove();
            } else {
                $('#role_id').append('<option value="<%=rwait%>">待定</option>');
            }
        });

        $('#is_super').change(function () {
            if ($(this).prop('checked')) {
                $('#role_id option[value=<%=isuper%>]').prop('selected', true);
                $('#role_id').prop('disabled', true);
                $('#status').prop({ 'disabled': false });
            } else {
                $('#role_id option')[0].selected = true;
                $('#role_id').prop('disabled', false);
            }
        });

        $('#role_id').change(function () {
            if ($(this).val() == "<%=rwait%>") {
                $('#status').prop({ 'disabled': true, 'checked': false });
            } else {
                $('#status').prop({ 'disabled': false });
            }

            if ($(this).val() == '<%=isuper%>') {
                $('#is_super').prop({ 'disabled': true, 'checked': true });
            } else {
                $('#is_super').prop({ 'disabled': false, 'checked': false });
            }
        });

        $('#myform').submit(function () {
            var params = {
                username: $('#username').val().trim(),
                password: $('#password').val().trim(),
                mobile: $('#mobile').val().trim(),
                email: $('#email').val().trim()
            };

            if (params.username == '') {
                alert('请输入管理员名称！');
                return false;
            }
            if (params.password == '') {
                alert('请输入管理员密码！');
                return false;
            }
            if (params.mobile != '') {
                if (!/^1[3456789]\d{9}$/.test(params.mobile)) {
                    alert('请正确输入管理员电话！');
                    return false;
                }
            }
            if (params.email != '') {
                if (!/^[A-Za-z0-9]+([_\.][A-Za-z0-9]+)*@([A-Za-z0-9\-]+\.)+[A-Za-z]{2,6}$/.test(params.email)) {
                    alert('请正确输入管理员邮箱！');
                    return false;
                }
            }
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        添加管理员
    </div>
    <div class="panel-body">
        <div class="table-responsive input-form">
            <form action="/admin/manager/doAdd" method="post" id='myform' autocomplete="off">
                <ul>
                    <input type="hidden" name="_csrf" value="<%=csrf%>">
                    <li class="line"> 生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;效: <input type="checkbox"
                            id="status" name="status" />
                    <li class="line"> 超级管理员: <input type="checkbox" id="is_super" name="is_super" />
                    </li>
                    <li class="line"> 管理员名称: <input type="text" id="username" name="username" placeholder="请输入管理员名称" />
                    </li>
                    <li class="line"> 管理员密码: <input type="password" id="password" name="password" placeholder="请输入管理员密码" />
                    </li>
                    <li class="line"> 管理员电话: <input type="text" id="mobile" name="mobile" placeholder="请输入管理员电话" /></li>
                    <li class="line"> 管理员邮箱: <input type="text" id="email" name="email" placeholder="请输入管理员邮箱" /></li>
                    <li> 管理员角色:
                        <select name="role_id" id="role_id">
                            <%for(let i=0;i<list.length;i++){%>
                            <option value="<%=list[i]._id%>"><%=list[i].title%></option>
                            <%}%>
                        </select>
                    </li>

                    <li>
                        <br />
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-default"
                            onclick="javascript:location.href='/admin/manager';">返回</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

</body>
</html>