<footer class="mt20 center">
    <div class="mt20"> 
        {% for item in navFooter %}
        <a href="{{item.link}}" {% if item.is_opennew==2%}target="_blank" {% endif %}>{{item.title}}</a>
        {% if loop.index!=loop.length %}
        |
        {% endif %}
        {% else %}
        <a href="http://www.hgfvbv.xyz" target="_blank">小米商城</a>
        {% endfor %}
    </div>
    <div>©zhenlinzhike.cn <a target="blank" href="http://www.beian.miit.gov.cn/"><span>{{setting.site_icp}}</span></a> <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61110102000015"
        style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">&nbsp;<img
            src="/public/default/image/备案图标.png" alt="备案图标" style="float:left;" /><span>{{setting.site_policeIcp}}</span></a> </div>
    <div>违法和不良信息举报电话：185-0130-1238，本网站未测试网站，所列数据除特殊说明外，所有数据均出自我司实验室测试</div>
</footer>