<!-- start banner_x -->
<div class="banner_x center">
    <a href="/" target="_blank">
        <div style="float:left;background-attachment:fix;background: url('{{setting.site_logo}}');background-repeat: no-repeat;
        background-size: 100% 100%;margin-top:1.1%;width: 70px;height: 70px;"></div>
    </a>
    <div class="nav fl">
        <ul class="clearfix" id="nav_list">
            <li class="link-category">
                <a href="/">全部商品分类</a>
                <div class="banner_y center">
                    <div class="nav">
                        <ul>
                            {% for item in goodsCate %}
                            <li>
                                {% if item.link %}
                                <a href="{{item.link}}">{{item.title}}</a>
                                {% else %}
                                <a href="/plist?cid={{item._id}}">{{item.title}}</a>
                                {% endif %}
                                <div class="pop">
                                    <ol class="cate_list clear">
                                        {% for item1 in item.child %}
                                        <li>
                                            <div class="xuangou_left">
                                                {% if item1.link %}
                                                <a href="{{item1.link}}" target="_blank">
                                                    <div class="img fl">
                                                        <img src="{{item1.cate_img}}_180x180{{helper.getExtName(item1.cate_img if item1.cate_img else '')}}"
                                                            alt="{{item1.keywords}}" /></div>
                                                    <span class="fl">{{item1.title}}</span>
                                                </a>
                                                {% else %}
                                                <a href="/plist?cid={{item1._id}}" target="_blank">
                                                    <div class="img fl">
                                                        <img src="{{item1.cate_img}}_180x180{{helper.getExtName(item1.cate_img if item1.cate_img else '')}}"
                                                            alt="{{item1.keywords}}" /></div>
                                                    <span class="fl">{{item1.title}}</span>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            {% for item in navMiddle%}
            <li>
                <a href="{{item.link}}" {% if item.is_opennew==2%}target="_blank" {% endif %}>{{item.title}}</a>

                {% if item.subGoods.length>0 %}
                <ol class="children-list clearfix">
                    {% for item1 in item.subGoods%}
                    <li>
                        <a target="_blank" href="/pinfo?id={{item1._id}}">
                            <img
                                src="{{item1.goods_img}}_180x180{{helper.getExtName(item1.goods_img if item1.goods_img else '')}}" />
                            <p>{{item1.shop_price}}元</p>
                        </a>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </li>
            {% else %}
            <li><a href="http://www.zhenlinzhike.cn" target="_blank">小米商城</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="search fr">
        <form action="/search" method="get">
            <div class="text fl">
                <input type="text" class="shuru" name='txtVal' placeholder="小米6&nbsp;小米MIX现货">
            </div>
            <div class="submit fl">
                <input type="submit" class="sousuo" value="搜索" />
            </div>
            <div class="clear"></div>
        </form>
        <div class="clear"></div>
    </div>
</div>
<!-- end banner_x -->